@import '../abstracts/variables';
@import '../abstracts/mixins';

.header {
	width: 100%;
	background-image: url('../img/img.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&__initial {
		width: 275px;
		margin: 0 auto;
		@media screen and (max-width: $small) {
			width: 100%;
		}
		@media screen and (min-width: $small) {
			width: 100%;
		}
	}
}

.header__button-nav {
	border-radius: 40px;
	font-size: 15px;
	padding: 12px 10px;
	font-weight: 700;
	line-height: 15px;
	height: 37px;
	width: 118px;

	@media (min-width: $small) {
		height: 38px;
		width: 136px;
		grid-area: header__button;
		align-self: center;
		justify-self: end;
		font-size: 16px;
	}

	@media (min-width: $medium) {
		&:hover {
			background-color: $white;
			color: $light-purple;
			border: 1px solid $light-purple;
			cursor: pointer;
		}
	}
}

.header__buttonNow-btn {
	border-radius: 40px;
	font-size: 18px;
	padding: 28px 12px;
	font-weight: 700;
	line-height: 20px;
	height: 45px;
	width: 290px;
	position: relative;
	top: 40px;
	margin: auto;
	@media screen and (max-width: $small) {
		width: 100%;
	}
	@media (min-width: $small) {
		height: 62px;
		width: 390px;
		font-size: 21px;
		line-height: 22px;
	}

	@media (min-width: $medium) {
		&:hover {
			background-color: $white;
			color: $light-purple;
			border: 2px solid $light-purple;
			cursor: pointer;
		}
	}
}

.header__button-nav,
.header__buttonNow-btn {
	color: $white;
	text-transform: capitalize;
	background-color: $light-purple;
	border-style: none;
	font-family: 'Montserrat';
	font-style: normal;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__burger {
	height: 38px;
	width: 44px;
	background-image: url('../img/burger.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media (min-width: $small) {
		display: none;
	}
	&-menu {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s ease-in-out;
	}
	&-menu.active {
		opacity: 1;
		visibility: visible;
		transition: all 0.5s ease-in-out;
		@media screen and (min-width: $small) {
			display: none;
		}
	}
	&-menu-navigation {
		position: absolute;
		margin-left: 5px;
		bottom: -387px;
		width: 292px;
		height: 352px;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -30px;
			width: 100%;
			height: 14px;
			background-color: #333333;
		}
		&-item {
			display: flex;
			align-items: center;
			width: 100%;
			height: 88px;
			border-bottom: 0.5px solid rgba(124, 124, 124, 0.41);
			background-color: #333333;
			color: $white;
			&-text {
				display: flex;
				align-items: center;
				padding-left: 35px;
				text-decoration: none;
				width: 100%;
				height: 60%;
				& span {
					color: $white;
					font-family: 'Montserrat';
				}
				&:focus {
					border-left: 8px solid #8d81ac;
					outline: none;
					& span {
						color: #8d81ac;
					}
				}
			}
		}
	}
}

.header__logo {
	svg:hover {
		color: $white;
		cursor: pointer;
	}

	@media (min-width: $small) {
		@include flex;
		width: 178px;
		height: 43px;
	}

	span {
		display: none;

		@media (min-width: $small) {
			display: block;
			padding-left: 18px;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 16px;
			text-transform: uppercase;
		}
		@media (min-width: $medium) {
			&:hover {
				color: $white;
				cursor: pointer;
			}
		}
	}
}

.header__navbar {
	position: relative;
	background-color: $header-navbar-grey;
	width: 100%;
	height: 102px;
	margin-bottom: 50px;

	&-box {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:first-child {
			padding-left: 10px;
			@media (min-width: $small) {
				padding-left: 15px;
			}
			@media screen and (min-width: $medium) {
				padding-left: 90px;
			}
		}
		a {
			text-decoration: none;
			color: $light-purple;
		}

		@media (min-width: $small) {
			padding: 22px 20px;
			height: 118px;
			display: grid;
			grid-template-areas:
				'header__logo header__button'
				'header__wraper  header__wraper';
		}

		@media (min-width: $medium) {
			background-color: initial;
			padding: 30px 90px;
			grid-template-areas: 'header__logo header__wraper header__wraper header__button';
		}
	}
}

.header__wraper {
	display: none;

	@media (min-width: $small) {
		display: block;
		grid-area: header__wraper;
		align-self: center;
		justify-self: center;
	}
	@media (min-width: $medium) {
		grid-area: header__wraper;
		align-self: center;
		justify-self: end;
		padding-right: 16px;
	}
}

.header__navigation {
	@media (min-width: $small) {
		ul {
			@include flex;
			gap: 48px;

			li {
				list-style: none;
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 18px;
				color: $light-purple;

				@media (min-width: $medium) {
					&:hover a {
						color: $white;
						cursor: pointer;
					}
				}
			}
		}
	}
}

.header__addition,
.header__initial,
.header__version {
	text-align: center;
	font-style: normal;
	font-family: 'Montserrat';
}

.header__addition {
	color: $white;
	font-size: 48px;
	line-height: 48px;
	font-weight: 700;
	padding-bottom: 20px;
}

.header__initial {
	color: $light-purple;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 14px;
}

.header__version {
	color: $light-gray;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	font-weight: 400;
	padding-bottom: 416px;
}

.header__buttonText {
	color: $light-gray;
	font-size: 14px;
	line-height: 14px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	position: relative;
	top: 52px;
	text-align: center;
	margin-bottom: 94px;
}
