@import '../abstracts/variables';
@import '../abstracts/mixins';

// editor
.editor {
	text-align: center;
	margin-bottom: 120px;
	&__article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 35px;
		@media screen and (min-width: $small) {
			margin-bottom: 25px;
		}
	}
	&__article h2 {
		width: 95%;
		margin-bottom: 26px;
		text-transform: uppercase;
		color: $purple-heading;
		font-size: 26px;
		@media screen and (max-width: $small) {
			max-width: 100%;
		}
		@media screen and (min-width: $small) {
			width: 90%;
			margin-bottom: 6px;
			font-size: 42px;
		}
		@media screen and (min-width: $medium) {
			width: 759px;
			margin-bottom: 15px;
			font-size: 54px;
		}
	}
	&__article p {
		width: 95%;
		color: $dark-gray;
		font-size: 14px;
		@media screen and (min-width: $small) {
			width: 90%;
			font-size: 21px;
		}
		@media screen and (min-width: $medium) {
			width: 861px;
			font-size: 21px;
		}
	}
	&__btn-list {
		max-width: 250px;
		margin: 0 auto;
		gap: 15px;
	}
	&__btn-list,
	&__btn-box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@media screen and (min-width: $small) {
			max-width: 365px;
		}
	}
	&__btn-box {
		height: 26px;
		border: 1px solid rgba(128, 128, 128, 0.563);
		border-radius: 3px;
		&:last-child button::before {
			background-image: url('./../img/fork.svg');
			background-size: 80%;
		}
		&:last-child {
			margin-top: 10px;
			@media screen and (min-width: $small) {
				margin-top: 0;
			}
		}
		&:first-child button::before {
			background-image: url('./../img/watch.svg');
			background-size: 90%;
		}
	}
	&__btn-counter {
		padding: 0 5px;
		color: $dark-gray;
		font-size: 12px;
		font-weight: 700;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		position: relative;
		padding: 0;
		padding-left: 30px;
		padding-right: 5px;
		border: none;
		border-right: 1px solid rgba(128, 128, 128, 0.563);
		cursor: pointer;
		& span {
			color: $dark-gray;
			font-size: 12px;
			font-weight: 700;
		}
	}
	&__btn::before {
		content: '';
		position: absolute;
		width: 20px;
		height: 80%;
		background-image: url('./../img/star.svg');
		background-repeat: no-repeat;
		background-position: center;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
	}
	@media screen and (min-width: $medium) {
		margin-bottom: 70px;
	}
}
//get

.get {
	text-align: center;
	&__heading {
		width: 230px;
		margin: 0 auto;
		margin-bottom: 35px;
		&.none-small {
			display: none;
		}
		& pre {
			width: 80%;
			margin: 0 auto;
			color: $light-purple;
			font-size: $large-heading;
			font-family: $montserrat;
			word-wrap: break-word;
			white-space: pre-wrap;
		}
		@media screen and (max-width: $small) {
			width: 100%;
		}
		@media screen and (min-width: $small) {
			width: 80%;
		}
		@media screen and (min-width: $medium) {
			&.none-medium {
				display: none;
			}
			&.none-small {
				width: 45%;
				display: block;
				margin-bottom: 20px;
				margin-left: 0;
				& pre {
					width: 600px;
					font-size: 48px;
					margin: 0;
				}
			}
		}
	}
	&__heading &__list,
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__item {
		gap: 27px;
		margin-bottom: 40px;

		&-article h4 {
			margin-bottom: 12px;
			font-size: $medium-span;
			color: $dark-gray;
			font-family: $montserrat;
			font-weight: 400;
		}
		&-article p {
			max-width: 270px;
			font-size: $paragraph;
			color: $light-gray;
			font-family: $lato;
		}
		@media screen and (min-width: $small) {
			flex-direction: row;
			justify-content: space-around;
			text-align: left;
			&-article:first-child h4 {
				margin-bottom: 100px;
			}
			&-article p {
				max-width: 560px;
				font-family: $montserrat;
			}
		}
		@media screen and (min-width: $medium) {
			&-article p {
				width: 100%;
			}
		}
		@media screen and (min-width: $large-container) {
			&-article p {
				max-width: 406px;
			}
		}
	}
	&__code-img-box {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		&-image {
			min-width: 100%;
			height: 380px;
			background-image: url('./../img/codeImg-small.png');
			background-repeat: no-repeat;
			background-position: cover;
			@media screen and (min-width: $small) {
				min-height: 518px;
				min-width: 90%;
				background-image: url('./../img/codeImg.png');
				background-position: right;
				background-size: 100% 100%;
			}
			@media screen and (min-width: $medium) {
				min-width: 100%;
				background-image: url('./../img/codeImg.png');
				background-position: center;
				background-size: 110% 100%;
			}
		}
		@media screen and (min-width: $medium) {
			width: 700px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: left;
			margin-bottom: 38px;
		}
	}
	@media screen and (min-width: $medium) {
		background-color: $light-bg-gray;
		&__box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 90px;
		}
		&__list {
			margin: 0;
			margin-left: 90px;
			@media screen and (min-width: $medium) {
				max-width: 55%;
			}
		}
	}
}
// subscription

.subscription {
	height: fit-content;
	background-image: url(../img/sub-bg.png);
	background-repeat: no-repeat;
	background-position: cover;
	background-size: 150% 150%;
	text-align: center;

	&__heading {
		margin-bottom: 32px;

		color: $white;
		line-height: 42px;
		font-family: $montserrat;
		font-size: $medium-heading;
		@media screen and (min-width: $small) {
			margin-bottom: 39px;
		}
		@media screen and (min-width: $medium) {
			margin-bottom: 61px;
			font-size: 48px;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 20px;
		margin-bottom: 0;
		@media screen and (min-width: $small) {
			flex-direction: row;
			align-content: space-between;
			flex-wrap: wrap;
			gap: 25px;
			padding-bottom: 120px;
		}
	}
	&__item {
		width: 257px;
		height: 457px;
		max-height: 457px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $white;
		font-family: $montserrat;
		background-color: $purple-gray-dark;
		@media screen and (max-width: $small) {
			width: 100%;
		}
		& span {
			font-family: $montserrat;
		}
		&:nth-child(1),
		&:nth-child(3) {
			margin-bottom: 28px;
		}
		&:nth-child(2) {
			margin-bottom: 18px;
		}
		@media screen and (min-width: $small) {
			&:nth-child(1),
			&:nth-child(3) {
				margin-bottom: 0;
			}
			&:nth-child(2) {
				margin-bottom: 0;
			}
		}
		& span:nth-child(5) {
			margin-bottom: 3px;
		}
		& span:nth-child(6) {
			margin-bottom: 37px;
		}

		& span:nth-child(5),
		& span:nth-child(6) {
			font-size: $medium-span;
		}
		& span:nth-child(3) {
			margin-bottom: 38px;

			font-size: $paragraph;
			text-transform: uppercase;
		}
		&-line-box {
			display: flex;
			justify-content: center;
			margin-bottom: 30px;
			width: 100%;
		}
		&-name-box {
			width: 100%;
			padding: 36px 0;
			background-color: $purple-gray-light;
		}
		&-name {
			font-size: $sub-plans;
			font-weight: 400;
			text-transform: uppercase;
		}
		&-price {
			margin-top: 30px;
			font-family: $montserrat;

			font-size: $sub-price;
			font-weight: 700;
		}
		&-line {
			width: 60px;
			height: 5px;
			background-color: $light-purple;
		}
		&-btn {
			padding: 15px 37px;
			margin-bottom: 36px;
			background-color: #776b79;
			border: none;
			border-radius: 30px;
			font-size: $small-span;
			text-transform: uppercase;
			color: $white;
			line-height: 15px;
			cursor: pointer;
		}
		&:nth-child(3) {
			width: 299px;
			height: 560px;
			max-height: 560px;

			background-color: #473249;
			& div:nth-child(1) {
				background-color: $dark-purple-price;
			}
			& span:nth-child(2) {
				font-size: $sub-price-active;
			}
			& span:nth-child(6) {
				margin-bottom: 86px;
			}
			@media screen and (max-width: $small) {
				width: 100%;
			}
		}
	}
}
.price-name {
	font-weight: 100;
}
.pre-sub-line {
	width: 245px;
	height: 2px;
	margin: 0 auto;
	margin-bottom: 15px;
	background-color: #645766;
	@media screen and (max-width: 320px) {
		width: 100%;
	}
	@media screen and (min-width: $small) {
		width: 75%;
		margin-bottom: 88px;
	}
	@media screen and (min-width: $medium) {
		width: 60%;
		margin-bottom: 112px;
	}
}
.empty {
	opacity: 0;
	pointer-events: none;
}
