@import '../abstracts/variables';
@import '../abstracts/mixins';

.main__monuals {
	background-image: url('../img/Layer 1.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.main__title {
	color: $white;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	padding-top: 58px;
	padding-bottom: 54px;

	@media (min-width: $small) {
		font-size: 42px;
		line-height: 44px;
		padding-top: 86px;
		padding-bottom: 88px;
	}

	@media (min-width: $medium) {
		font-size: 48px;
		line-height: 50px;
		padding-top: 108px;
		padding-bottom: 84px;
	}
}
.main__logo-smashid {
	grid-area: smashid;
}

.main__logo-codrops {
	grid-area: codrops;
}

.main__logo-w {
	grid-area: w;
}

.main__logo-pixel {
	grid-area: pixel;
}

.main__logo-blog {
	grid-area: blog;
}

.main__logo-tnw {
	grid-area: tnw;
}

.main__logoFork {
	width: 100%;
	padding: 0 10px 0 10px;
	display: grid;

	grid-template-areas:
		'smashid'
		'codrops'
		'w'
		'pixel'
		'blog'
		'tnw';

	@media (min-width: $small) {
		grid-template-areas:
			'smashid codrops'
			'w pixel'
			'blog tnw';
		column-gap: 116px;
	}

	@media (min-width: $medium) {
		grid-template-areas:
			'smashid codrops w'
			'pixel blog tnw';
	}
}

.main__logo-smashid,
.main__logo-codrops,
.main__logo-w,
.main__logo-pixel,
.main__logo-blog,
.main__logo-tnw {
	@include flex(center, center, column);
	padding-bottom: 45px;

	img {
		padding-bottom: 30px;
	}

	p {
		color: $white;
		font-family: 'Lato';
		font-style: italic;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
	}
}

.main__text {
	color: $light-purple-text;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	position: relative;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;
	@media (min-width: $medium) {
		width: 887px;
	}
}
.main__logo-smashid,
.main__logo-codrops,
.main__logo-w,
.main__logo-pixel,
.main__logo-blog,
.main__logo-tnw {
	@media screen and (max-width: $small) {
		width: 100%;
	}
}
