//media queries
$small: 481px;
$medium: 993px;
// conatainer
$small-container: 320px;
$medium-container: 768px;
$large-container: 1380px;
//font sizes
$sub-plans: 24px;
$sub-price: 60px;
$sub-price-active: 82px;
$small-heading: 26px;
$medium-heading: 28px;
$large-heading: 32px;
$paragraph: 14px;
$small-span: 15px;
$medium-span: 16px;
//font weight
$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;
//colors
$white: #ffffff;
$light-gray: #848e97;
$light-bg-gray: #f4f4f4;
$dark-gray: #323232;
$light-purple: #8d81ac;
$light-purple-text: #a291a5;
$purple-heading: #635c73;
$purple-gray-light: #695b6a;
$purple-gray-dark: #5f5161;
$dark-purple: #463048;
$dark-purple-price: #3e2d41;
$header-navbar-grey: #27262a;
$people-line-grey: #645766;
