@import './base/reset';
@import './layout/header';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&display=swap');
@import './abstracts/variables';
@import './abstracts/mixins';
* {
	text-decoration: none;
	list-style: none;
	font-family: 'Roboto', sans-serif;
	ul {
		padding: 0;
	}
}
.container {
	max-width: $small-container;
	margin: 0 auto;
	@media screen and (max-width: $small) {
		max-width: 100%;
	}
	@media screen and (min-width: $small) {
		max-width: $medium-container;
	}
	@media screen and (min-width: $medium) {
		max-width: $large-container;
	}
}
